.main-graph {
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 7%;
    background-color: white;
    border-radius: 20px;
}

button {
    margin-left: 100px;
    margin-right: 100px;
}

.control_panel {
    user-select: none;
    margin:0 auto;
    height: 30px;
}